.first{
    height: 530px;
    width: 400px;
    position: relative;
    top: 50vh;
    left: 50vw;
    background-color:white;
    opacity: 1;
    transform: translate(-50%,-50%);
    padding: 20px 0px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    border-radius: 50px;
    

}
.heading{
    text-align:center;
    background-color: rgb(201,152,111);
    color: white; 
}

.cont{
    max-width: 100%;
    height: 100vh;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#inpt{
    
    height: 39px;
    width: 60%;
    margin-left: 50px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden; 
   
    font-size:large;
    
}
input:focus,input:active {
     outline:none;
      border-bottom: solid 2px rgb(19,0,1);
   
}
.items{
    display: flex;
    /* justify-content: space-around; */
}
.btn{
    border-radius: 50%;
    border: solid white 2px;
    padding: 5px 15px;
    position: relative;
    margin-left: 30px;
    color: white;
    background-color: rgb(201,152,111);
    font-size: 30px;
}
::-webkit-scrollbar {
    display: none;
  }
.list{
    overflow: scroll;
    height: 420px;
}
.cncl{
    display: flex;
    
  
}
#del{
    margin: 15px 10px 30px 50px;
    padding: 2px 8px 2px 8px;
    border-radius: 50%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(201,152,111);
    border-style: hidden;
    color: white;
    
}
#del:hover{
    background-color: rgb(241, 61, 61);
}
@media (max-width: 430px) {
    .first{
        height: 530px;
        width: 80%;
        top: 350px;
    }
    .btn{
        margin: 0px 20px;
    }
    
}